{% load extras %}

<div name="header"></div>
<div name="content">
    <div name="cart" style="display: table; width:100%;">
    {% for item in cart_items %}
        <div name="cart-item" style="display: table-cell;">
            <div style="width:20%;">{{item.product.name}}</div><br/>
            <div style="width:20%;">{{item.quantity}}</div>
            <div style="width:20%;">{{item.product.price}}</div><br/>
            <div style="width:20%;">Total: {% multiply item.quantity item.product.price %} </div>
        </div>
    {% endfor %}
    </div>
</div>
